<h1>Books in our DB:</h1>

{{#each books}}

  <section class="book-summary">
    <h2>{{this.title}}</h2>
    <h4>Author: {{this.author.name}}</h4>

    <p>Rating: {{this.rating}}</p>

    <a href="/books/{{this._id}}">Show details</a>
    |
    <a href="/books/{{this._id}}/edit">Edit</a>


  </section>
  <hr />

{{/each}}