<h1>Book details:</h1>

<section class="book-details">
  <h2>{{this.title}}</h2>
  <h3>Author: <br />
      {{this.author.name}} <br />
      {{this.author.age}} <br />
      {{this.author.country}}
      </h3>

  <p>Rating: {{this.rating}}</p>
  <p>Description:<br />
    {{this.description}}</p>

  <a href="/books">Back to all books</a>
  |
  <a href="/books/{{this._id}}/edit">Edit</a>
  <br>
  <br>

  <form action="/books/{{this._id}}/delete" method="POST">
    <button>
      Delete
    </button>
  </form>

</section>