<h2>Authors in our DB:</h2>
<hr>

{{#each authors}}

  <section class="author-summary">
    <h3>Name: {{this.name}}</h3>

    <p>Age: {{this.age}}</p>
    <p>Country: {{this.country}}</p>

    <p>Number of books: {{this.numberOfBooks}}</p>
 
    <a href="/books/{{this._id}}/edit">Edit</a>

  </section>
  <hr />

{{/each}}